/////////////////////////////////////////////////////////////////////////////
////////////  Nextflow config file for 'hybpiper.nf' pipeline  //////////////
/////////////////////////////////////////////////////////////////////////////

nextflow.enable.dsl=2
conda.enabled = true

// set some defaults for pipeline parameters
params {

    // hybpiper-nf pipeline parameters
    version = false
    help = false
    outdir = 'results'
    paired_and_single = false
    single_end = false
    read_pairs_pattern = 'R1,R2'
    single_pattern = 'single'
    num_forks = false
    use_trimmomatic = false
    trimmomatic_leading_quality = 3
    trimmomatic_trailing_quality = 3
    trimmomatic_min_length = 36
    trimmomatic_sliding_window_size = 4
    trimmomatic_sliding_window_quality = 20
    combine_read_files = false
    combine_read_files_num_fields = 1
    namelist = false
    
    // hybpiper assemble parameters:
    targetfile_aa = false
    targetfile_dna = false
    illumina_reads_directory = false
    bwa = false
    use_diamond = false
    diamond_sensitivity = false
    distribute_low_mem = false
    evalue = 1e-4
    max_target_seqs = false
    single_cell_assembly = false
    kvals = false
    timeout_assemble = false
    timeout_exonerate_contigs = false
    thresh = false
    depth_multiplier = false
    target = false
    exclude = false
    keep_intermediate_files = false
    no_padding_supercontigs = false
    verbose_logging = false
    no_stitched_contig = false
    bbmap_subfilter = 7
    chimeric_stitched_contig_edit_distance = 5
    chimeric_stitched_contig_discordant_reads_cutoff = 5
    merged = false
    chimera_test_memory = 1000
    paralog_min_length_percentage = 0.75
    cov_cutoff = 8
    run_intronerate = false
    
    // use_blastx = false

    // All HybPiper subcommands:
    run_profiler = false

    // hybpiper check_targetfile parameters:
    sliding_window_size = false
    complexity_minimum_threshold = false
    run_profiler = false

    // hybpiper fix_targetfile parameters:
    control_file = false
    no_terminal_stop_codons = false
    reference_protein_file = false
    maximum_distance = false
    filter_by_length_percentage = false
    keep_low_complexity_sequences = false
    alignments = false
    concurrent_alignments = 1
    threads_per_concurrent_alignment = 1
    write_all_fasta_files = false
    allow_gene_removal = false

    // hybpiper paralog_retreiver and recovery_heatmap parameters:
    figure_length = false
    figure_height = false
    sample_text_size = false
    gene_text_size = false
    heatmap_filetype = false
    heatmap_dpi = false

    // hybpiper paralog_retreiver parameters:
    paralogs_list_threshold_percentage = false



}

// enable HTML execution report by default, written to 'assembly.html'
report {
    enabled = true
    overwrite = true
    file = 'assembly.html'
    overwrite = true
}

// enable HTML timeline report by default, written to 'timeline.html'
timeline {
    enabled = true
    overwrite = true
    file = 'timeline.html'
    overwrite = true
}

/* 
enable .dot direct acyclic graph (DAG) report by default, written to 'dag.dot'. If
graphviz is installed this can be converted to e.g. png with the command: 
dot dag.dot -Tpng -o dag.png
*/
dag {
    enabled = true
    overwrite = true
    file = 'dag.dot'
    overwrite = true
}

// enable execution tracing file by default, written to 'pipeline_trace.txt'
trace {
    enabled = true
    overwrite = true
    file = 'pipeline_trace.txt'
    fields = 'task_id,name,status,exit,realtime,%cpu,rss,container'
    overwrite = true
}


/* 
set up profiles. Here I've made profiles for using SLURM, and also a 'standard' 
profile (default)
*/
profiles {

    gadi {
        process { 

            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141   ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31"
                module = 'singularity'
            }
            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-paragone:latest'
                }
        }
        executor {
            name = 'pbspronci'
        }
        singularity {
            enabled = true
            //autoMounts = true
            autoMounts = false
            //engineOptions = "--debug"
            cacheDir = 'singularity-images'
        }
        env {
            TMPDIR = "/g/data/nm31/chris_jackson"
        }
    }

    gadi_scratch {
        process { 
            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141   ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                queue = 'normal'
                clusterOptions = "-l wd -l storage=gdata/nm31+scratch/nm31 -P nm31 -l jobfs=50GB"
                module = 'singularity'
                scratch = true
            }
            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-paragone:latest'
                }
        }
        executor {
            name = 'pbspro'
        }
        singularity {
            enabled = true
            //autoMounts = true
            autoMounts = false
            //engineOptions = "--debug"
            cacheDir = 'singularity-images'
        }
    }

    slurm_singularity {
            process { 

            withName: CHECK_TARGETFILE {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: FIX_TARGETFILE {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }  
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }            
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
            }
            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-paragone:latest' 
                }
        }
        executor {
            name = 'slurm'
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        }
        
    }

    slurm_singularity_scratch {
            process { 

            withName: CHECK_TARGETFILE {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: FIX_TARGETFILE {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 10 * task.attempt }
                memory = { 10.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }  
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 30 * task.attempt }
                memory = { 30.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }            
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
                time = '24h'
                scratch = '$MY_GRID_TMP'
            }
            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-paragone:latest' 
                }
        }
        executor {
            name = 'slurm'
        }
        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        }
        
    }

    conda {

        process { 

            withName: CHECK_TARGETFILE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: FIX_TARGETFILE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }   
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
        }
        
        process.conda = 'hybpiper trimmomatic'

    conda {
            createOptions = '-c chrisjackson-pellicle'
            cacheDir = 'work'  
            /*
            The cacheDir value defines the path where Conda environments are stored.
            When using a compute cluster make sure to provide a shared file system
            path accessible from all compute nodes.

            See https://www.nextflow.io/docs/latest/config.html#scope-conda
             */
        }
    }

    conda_slurm {

        process { 

            withName: CHECK_TARGETFILE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: FIX_TARGETFILE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }   
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
        }

        process.conda = 'hybpiper trimmomatic'
            
        conda {
            createOptions = '-c chrisjackson-pellicle'
            cacheDir = 'work'  
            /*
            The cacheDir value defines the path where Conda environments are stored.
            When using a compute cluster make sure to provide a shared file system
            path accessible from all compute nodes.

            See https://www.nextflow.io/docs/latest/config.html#scope-conda
             */
        }
        
        executor {
            name = 'slurm'
        }
    }

    standard {
            process { 

                withName: CHECK_TARGETFILE {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: FIX_TARGETFILE {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: COMBINE_LANES_PAIRED_END {
                    cpus = { 1 * task.attempt }
                    memory = { 1.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: COMBINE_LANES_SINGLE_END {
                    cpus = { 1 * task.attempt }
                    memory = { 1.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: TRIMMOMATIC_PAIRED {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: TRIMMOMATIC_SINGLE {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: ASSEMBLE_PAIRED_END {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: ASSEMBLE_SINGLE_END {
                    cpus = { 2 * task.attempt }
                    memory = { 2.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }   
                withName: VISUALISE {
                    cpus = { 1 * task.attempt }
                    memory = { 1.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: SUMMARY_STATS {
                    cpus = { 1 * task.attempt }
                    memory = { 1.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: RETRIEVE_SEQUENCES {
                    cpus = { 1 * task.attempt }
                    memory = { 1.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }
                withName: PARALOG_RETRIEVER {
                    cpus = { 1 * task.attempt }
                    memory = { 1.GB * task.attempt }
                    errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                    maxRetries = 3
                }    
            }
    }


    standard_singularity {
            process {

            withName: CHECK_TARGETFILE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: FIX_TARGETFILE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: COMBINE_LANES_PAIRED_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: COMBINE_LANES_SINGLE_END {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIMMOMATIC_PAIRED {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: TRIMMOMATIC_SINGLE {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }   
            withName: ASSEMBLE_PAIRED_AND_SINGLE_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_PAIRED_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: ASSEMBLE_SINGLE_END {
                cpus = { 2 * task.attempt }
                memory = { 2.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }   
            withName: VISUALISE {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: SUMMARY_STATS {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..143 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: RETRIEVE_SEQUENCES {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withName: PARALOG_RETRIEVER {
                cpus = { 1 * task.attempt }
                memory = { 1.GB * task.attempt }
                errorStrategy  = { task.exitStatus in 137..141 ? 'retry' : 'terminate' }
                maxRetries = 3
            }
            withLabel: in_container {
                container = \
                'library://chrisjackson-pellicle/collection/hybpiper-paragone:latest'
                }
        }

        singularity {
            enabled = true
            autoMounts = true
            cacheDir = 'singularity-images'
        } 

    }

}
